* @baobab-platform/platform-engineering
/.github/ @baobab-platform/platform-engineering @baobab-platform/security
/.devcontainer/ @baobab-platform/platform-engineering
/.baobab/ @baobab-platform/platform-engineering
/compose.yaml @baobab-platform/platform-engineering @baobab-platform/security
/idempiere/ @baobab-platform/platform-engineering
/modules/ @baobab-platform/platform-engineering
/db/ @baobab-platform/platform-engineering @baobab-platform/security
/migration/ @baobab-platform/platform-engineering
/contracts/ @baobab-platform/platform-engineering
/SECURITY.md @baobab-platform/security
